    <div class="post">
        <h2><%= title %></h2>
        <img src="<%=posttemplate[i].imageUrl %>" alt="Post 3 Image">
        <p><%=posttemplate[i].date %></p>
        <a href="<%=posttemplate[i].path%>">read more</a>
    </div>
